<!DOCTYPE html>
<html>
<head><!--  -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no"/>
    <title>品牌介绍 - 七日轻食&LightFoo</title>
    <meta name="keywords" content="品牌介绍"/>
    <meta name="description" content="品牌介绍"/>
    <link rel="stylesheet" href="/static/Public/Front/base/css/common.css">
    <link rel="stylesheet" href="/static/Public/Front/base/css/brand.css">
    <link rel="Shortcut Icon" href="/static/Public/Front/base/images/ico.ico"/><!-- artDialog弹窗开始 -->
<!--    <script type="text/javascript" src="/static/Public/Common/artDialog/artDialog.js?skin=aero"></script>-->
<!--    <script type="text/javascript" src="/static/Public/Common/artDialog/plugins/iframeTools.js"></script>-->
    <script>
        window.onload = function () {
            artDialog.tips = function (content, time) {
                return artDialog({
                    id: 'tips',
                    title: false,
                    cancel: false,
                    fixed: true,
                    //lock: true,
                    zIndex: 99999999,
                }).content('<div style="padding: 1em 2em;">' + content + '</div>').time(time || 1.5);
            }
        }
    </script>
    <style>
        .aui_outer, .aui_state_focus {
            transition: none !important;
            -webkit-transition: none !important;
            font-size: 14px !important;
        }
    </style><!-- artDialog弹窗结束 --></head>
<body><!--  -->
<div class="headerpage">
    <form id="sccmform" action="/Mo_index_gci_2.html" method="get">
        <header>
            <div class="container"><a class="logo" href="/">
                <img src="/static/Public/Front/base/images/logo.png" alt="七日轻食&LightFoo"></a>
                <div class="tools">
                    <div class="navs">
                        <ul>
                            <li><a href="{% url 'index' %}" >首页</a></li>
                            <li class="act"><a href="{% url 'Brandintroduction' %}">品牌介绍</a></li>
                            <li><a href="/Mo_index_gci_2.html">产品展示</a>
                                <div class="subnav"><a href="/Mo_index_gci_8.html">爱意水果捞</a>
                                    <a href="/Mo_index_gci_11.html">轻食荞麦面</a>
                                    <a href="/Mo_index_gci_25.html">轻蔬拌饭</a>
                                    <a href="/Mo_index_gci_22.html">燃脂沙拉</a>
                                    <a href="/Mo_index_gci_9.html">创意果茶</a>
                                    <a href="/Mo_index_gci_23.html">三明治&卷饼</a>
                                    <a href="/Mo_index_gci_10.html">汤&粥</a>
                                    <a href="/Mo_index_gci_27.html">汁&酱</a>
                                </div>
                            </li>
                            <li><a href="login.html">加入会员</a></li>
                            <li><a href="/Go_index_gci_4.html">立即下单</a></li>
                        </ul>
                    </div>
                    <div class="nav-abbreviation nav-abbreviation1">
                        <div class="nav-abb-c"></div>
                    </div>
                    <div class="search">
                        <div class="search">
                            <div class="puts">
                                <input type="text" placeholder="输入关键词搜索产品" name="kw" value="">
                                <img class="closeput" src="/static/Public/Front/base/images/cha.png" alt="七日轻食&LightFood">

                            </div>
                        <a href="javascript:;"><span></span></a>

                    </div>
                </div>
                </div>
            </div>
        </header>
        <input type="hidden" name="token" value="b8b7d3c878b5354c08ac27af1ae1c2a0_a137249e328a844d4078616971538aed"/>
    </form>
</div>
<div class="ba">
    <div class="container">
        <div class="img"><img src="/static/SdwlUploads/Ab/h_t.png" alt="关于海俪"></div>
        <div class="about">
            <div class="name counter-valuel"><img src="/static/Public/Front/base/images/A.png" alt="关于七日轻食"><h5>
                七日轻食</h5></div>
            <div class="p"><p>七日轻食创建于2009年，秉承绿色健康宗旨，让所有消费者吃的安心，吃得放心。</p>
            </div>
            <div class="parms">
                <div class="parli"><h5>品牌定位</h5>
                    <div><p>年轻人的时尚减脂品牌</p></div>
                </div>
                <div class="parli"><h5>品牌关键词</h5>
                    <div><p>百变、年轻、时尚、潮流</p></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<div class="bans  counter-valuet">-->
<!--    <div class="en">Life's first pair of contact lenses</div>-->
<!--    <div>人生第一副彩瞳</div>-->
<!--</div>-->
<div class="bb">
    <div class="container">
        <div class="names">
            <div class="name  counter-valuel"><img src="/static/Public/Front/base/images/B.png" alt="七日轻食&LightFoo">
                <h5>七日轻食</h5></div>
            <div class="namep"><p>
                轻食简餐以自然健康、均衡为主。自然健康，更注重还原食材本身的风味。很多食材可以直接生食，即便一些食材需要烹饪，方式也非常简单，以煮、烤、煎为主，所以对食材的新鲜度和品质要求很高。均衡，关注人体所需六大营养素的平衡，包括蛋白质, 脂类, 碳水化合物, 维生素, 矿物质, 水。均衡营养，不只有绿色蔬菜，高蛋白的肉类也是必不可少的哦！所以，轻食不仅仅是一种饮食习惯，更代表一种均衡、自然、健康的生活方式。</p></div>
        </div>
        <div class="picshow  counter-valuet">
            <div class="pic_blo">
                <div style="background-image: url('/static/SdwlUploads/Ab/h_6.png');"></div>
                <div style="background-image: url('/static/SdwlUploads/Ab/h_2.png');"></div>
            </div>
            <div class="pic_blo pic_bloc">
                <div style="background-image: url('/static/SdwlUploads/Ab/h_3.png');"></div>
            </div>
            <div class="pic_blo">
                <div style="background-image: url('/static/SdwlUploads/Ab/h_4.png');"></div>
                <div style="background-image: url('/static/SdwlUploads/Ab/h_5.png');"></div>
            </div>
        </div>

    </div>
</div>
<div class="bc">
    <div class="container">
        <div class="names">
            <div class="name counter-valuel"><img src="/static/Public/Front/base/images/C.png" alt="七日轻食&LightFoo">
                <h5>荣誉奖项</h5></div>
            <div class="namep"><p>七日轻食隐形眼镜，按品质管制体系标准和医疗器械品质管制体系要求建立了公司品质管制体系。前后取得CE
                产品认证证书、ISO9000 及ISO13485 品质管制体系的认证、GB/T28001，并获得高新技术企业称号。</p></div>
        </div>
        <div class="honors counter-valuet">
            <ul>
                <li><b>2010</b>
                    <div><p>
                        七日轻食的生产商通过了医疗器械生产质量管理规范（GMP）检查验收，成为江苏省第一家通过医疗器械GMP的生产企业。被江苏省食品药品监督管理局指定为示范检查企业，成为江苏第一家通过规范检查GMP
                        的企业。</p></div>
                </li>
                <li><b>2012</b>
                    <div><p>荣获&quot;江苏省著名商标&quot;
                        ，这是七日轻食品牌战略的重要成果之一，使更多消费者了解并信赖七日轻食。</p></div>
                </li>
                <li><b>2013</b>
                    <div><p>被评为&quot;年度米娜美妆神器&quot;，无数90 后美眉为之疯狂，成为当下引领潮流的时尚必搭品。</p>
                    </div>
                </li>
                <li><b>2015</b>
                    <div><p>荣获网络主流媒体ONLYLADY的年度美容天后时尚大奖，年轻族群APP美啦的年度美妆利器时尚大奖。</p>
                    </div>
                </li>
                <li><b>2021</b>
                    <div><p>七日轻食获得非凡时尚品牌大奖，继续用年轻时尚潮流的产品俘获Z世代。</p></div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="footerpage">
    <footer>
        <div class="slidetop"><img src="/static/Public/Front/base/images/slidetop.png" alt="七日轻食&LightFood"></div>
        <div class="container">
            <div class="fnav">
                <div class="fnl"><h5>公司地址</h5>
                    <p>晋中市经济开发区文化街聚晟商务</p></div>
                <div class="fnc"><h5>联系我们</h5>
                    <p>电话：0x0-12345678 （周一至周五：8:30-12:00,13:00-17:30）</p>
                    <p>邮编：??????</p></div>
                <div class="fnr"><h5>一键关注</h5>
                    <ul>
                        <li>
                            <a target="_blank" href="https://www.xiaohongshu.com/user/profile/618344f7000000000201bb5d?xhsshare=CopyLink&a/staticppuid=618344f7000000000201bb5d&apptime=1665405479">
                                <img src="/static/Public/Front/base/images/book.png">
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="https://weibo.com/yuguangyo">
                                <img src="/static/Public/Front/base/images/weibo.png" alt="七日轻食&LightFood">
                            </a>
                        </li>
                        <li class="codeli">
                            <img src="/static/Public/Front/base/images/weixin.png" alt="七日轻食&LightFood">
                            <div class="codeimgs">
                                <img src="/static/Public/Front/base/images/code-bg.png" alt="七日轻食&LightFood">
                                <img class="codeico" src="/static/SdwlUploads/Ot/t_code.png" alt="七日轻食&LightFood">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="intro">
                <div class="le">
                    <div><a href="https://www.bilibili.com" target="_blank">干杯┼</a>
                        <span>|</span>
                        <a href="https://user.qzone.qq.com/1589373525" target="_blank">TOKYO  GHOUL</a>
                        <span>|</span>
                        <a href="https://user.qzone.qq.com/1589373525" target="_blank">崔宁最爱</a>
                    </div>
                    <div>一个i我离giaogiao高i哦啊噶</div>
                </div>
                <div class="ri">
                    <!--                    <div><a href="https://beian.miit.gov.cn/" target="_blank">沪ICP备11014717号-2 </a></div>-->
                    <div>©七日轻食&LightFood有限公司版权所有</div>
                </div>
            </div>
            <div class="bottom">
                <span>
                    <a href="https://www.bilibili.com/video/BV1y34y1s7x7/" target="_blank">最遗憾的是和你</a>
                </span>
            </div>
        </div>
    </footer>
</div>
<style>
    /*
    表格隔行变色
    */
    .ue-table-interlace-color-single {
        background-color: #fcfcfc;
    }

    .ue-table-interlace-color-double {
        background-color: #f7faff;
    }

    /*
    分割线
    */
    hr {
        display: block;
        unicode-bidi: isolate;
        -webkit-margin-before: 0.5em;
        -webkit-margin-after: 0.5em;
        -webkit-margin-start: auto;
        -webkit-margin-end: auto;
        overflow: hidden;
        border-style: inset;
        border-width: 1px;
    }
</style>
<link href="/static/Public/Common/csscm/video-js.css" rel="stylesheet">
<script src="/static/Public/Common/jscm/video.js"></script>
<script>
    videojs.options.flash.swf = "/static/Public/Common/swfcm/video-js.swf";
</script>
<script>
    $(function () {
        $("#sccmbutton").click(function () {
            $("#sccmform").submit();
        });
    });
</script>
</body>
<script src="/static/Public/Front/base/js/jquery-1.11.2.min.js"></script>
<script src="/static/Public/Front/base/js/scrollre.js"></script>
<script src="/static/Public/Front/base/js/main.js"></script>
</html>