<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport"
          content="target-densitydpi=get-target-densitydpi, width=device-width, initial-scale=1, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0,viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache">
    <title>七日轻食有限公司 七日轻食唯一官网 订餐热线:xxxx-515-777</title>
    <meta name="keywords"
          content="七日轻食|七日轻食订餐|四川奶茶店订餐|奶茶店订餐|全国奶茶店订餐|饮品店订餐|奶茶连锁店哪家好|奶茶连锁店订餐|全国奶茶店排名|四川饮品店订餐"/>
    <meta name="description"
          content="风靡成都的七日轻食，全国超6000+连锁店，特色饮品加熊猫元素深受年轻人士的喜爱，得到了消费者们的一致好评。"/>

    <!------------------------------------------------------------------------------->

    <link href="/static/Public/home/img/favicon.ico" type="image/x-icon" rel=icon>
    <link href="/static/Public/home/img/favicon.ico" type="image/x-icon" rel="shortcut icon">

    <!------------------------------------------------------------------------------->

    <link type="text/css" rel="stylesheet" href="/static/Public/home/css/common.css"/>
    <link type="text/css" rel="stylesheet" href="/static/Public/home/css/style.css?v=0.0.56"/>

    <link href="/static/Public/home/js/layui/css/layui.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/Public/home/css/animate.css">
    <link href="/static/Public/home/css/jquery.bxslider.css" rel="stylesheet" type="text/css">
    <script type="text/javascript">
        //全局变量
        var GV = {
            ROOT: "/",
            MODULE: "/home/",
            WEB_ROOT: "",
            JS_ROOT: "static/public/home/js/",
            APP: 'home'/*当前应用名*/
        };

    </script>


    <script type="text/javascript" src="/static/Public/home/js/jquery.js"></script>
    <script src="/static/Public/home/js/layer/layer.js"></script>
    <script src="/static/Public/home/js/layui/layui.js"></script>
    <script src="/static/Public/home/js/wow.min.js"></script>
    <script src="/static/Public/home/js/com.js"></script>
    <script type="text/javascript" src="/static/Public/home/js/jquery.bxslider.js"></script>

    <script src="/static/Public/home/js/jquery-migrate-1.2.1.js"></script><!--页面幻灯片-->

    <script type="text/javascript">
        if ((navigator.userAgent.match(/(iPhone|iPod|Android|ios|iPad)/i))) {
            location.replace("/m/index.html")
        }
    </script>
</head>
<body>


<div class="head wow fadeInUp">
    <div class="header_down">
        <a href="{% url 'index' %}" title="七日轻食有限公司 七日轻食唯一官网 订餐热线:4000-515-777">
            <div class="header_left"></div>
        </a>
        <div class="header_right">
            <ul class="tel">七日轻食唯一订餐电话<br><span>xxxx-515-777</span></ul>
        </div>
        <div class="header_center">
            <div class="tnav">
                {% for f in kinds %}
                    <div class="nav_b" style="clear:both;">
{#                    <div>#}
                    <ul style="clear:both;">
                        <a href="?id={{ f.goods_kinds_id }}">
                            <li class="nav_li " id="sku">{{ f.goods_kings_name }}</li>
                        </a>

                    {% if f.goods_kinds_id == forloop.counter %}
                        {% for i in a %}
                        <li class="nav_s "></li>
                        <li class="nav_c" style="right:0; transform: scale(1) translatex(-183px);">
{#                            {{ a.goodspu_set.1.type_name }}#}
                            <a href="">
                            <div class="small" >{{ i.type_name }} </div>
                            </a>

{#                            {{ f.goodspu__set.goodsku__set.goods_name.0 }}#}
                        </li>
                        {% endfor %}
                           {% endif %}

{#                        <li class="nav_s "></li>#}
{#                        <li class="nav_c" style="right:0; transform: scale(1) translatex(-183px);">#}
{#                            {{ a.goodspu_set.0.type_name }}#}
{#                            {{ a.0.type_name }}#}
{#                        </li>#}
                    </ul>
                    </div>
                {% endfor %}

{#                <script language="JavaScript">#}
{#                    function Ssss(id) {#}
{#                        var domain_name = id;    //获取要传到后台的数据#}
{#                        $.ajax({#}
{#                            type: "GET",#}
{#                            url: "test/",    //后台处理函数的url#}
{#                            data: domain_name,#}
{#                            success: function (result) {  //获取后台处理后传过来的result #}
{#                                alert(result)#}
{#                            },#}
{#                        });#}
{#                    }#}
{#                </script>#}

                {#                <div class="nav_b">#}
                {#                    <a href="/home/about/index/id/1.html">#}
                {#                        <li class="nav_li ">轻食荞麦面</li>#}
                {#                    </a>#}
                {#                    <li class="nav_s "></li>#}
                {#                    <li class="nav_c" style="right:0; transform: scale(1) translatex(-183px);">#}
                {#                        <a href="/home/jm/index/id/13.html#13">#}
                {#                            <div class="small">番茄虾仁荞麦面</div>#}
                {#                        </a>#}
                {#                        <a href="/home/jm/index/id/14.html#14">#}
                {#                            <div class="small">韩式拌面</div>#}
                {#                        </a>#}
                {#                        <a href="/home/jm/index/id/15.html#15">#}
                {#                            <div class="small">花生酱荞麦面</div>#}
                {#                        </a><a href="/home/jm/index/id/15.html#15">#}
                {#                        <div class="small">鸡胸肉沫荞麦面</div>#}
                {#                    </a><a href="/home/jm/index/id/15.html#15">#}
                {#                        <div class="small"></div>#}
                {#                    </a>#}
                {##}
                {#                    </li>#}
                {#                </div>#}
{#                                <div class="nav_b">#}
{#                                    <a href="?id={{ f.1.goods_kinds_id }}">#}
{#                                        <li class="nav_li ncur">{{ f.1.goods_kings_name }}</li>#}
{#                                    </a>#}
{#                                    #}
{#                                    <li class="nav_s cur"></li>#}
{#                                    <li class="nav_c" style="right:0; transform: scale(1) translatex(-183px);">#}
{#                                        <a href="/home/jm/index/id/13.html#13">#}
{#                                            <div class="small">韩式拌饭</div>#}
{#                                        </a>#}
{#                                        <a href="/home/jm/index/id/14.html#14">#}
{#                                            <div class="small">魔芋结手撕鸡</div>#}
{#                                        </a>#}
{#                                        <a href="/home/jm/index/id/15.html#15">#}
{#                                            <div class="small">西蓝花炒双菇</div>#}
{#                                        </a>#}
{##}
{#                                    </li>#}
{#                                </div>#}
{##}
{#                                <div class="nav_b">#}
{#                                    <a href="/home/jm/index/id/5.html">#}
{#                                        <li class="nav_li ">三明治&卷饼</li>#}
{#                                    </a>#}
{#                                    <li class="nav_s "></li>#}
{#                                    <li class="nav_c" style="right:0; transform: scale(1) translatex(-183px);">#}
{#                                        <a href="/home/jm/index/id/13.html#13">#}
{#                                            <div class="small">泡菜鸡肉三明治</div>#}
{#                                        </a>#}
{#                                        <a href="/home/jm/index/id/14.html#14">#}
{#                                            <div class="small">生菜三明治</div>#}
{#                                        </a>#}
{#                                        <a href="/home/jm/index/id/15.html#15">#}
{#                                            <div class="small">芝士滑蛋卷饼</div>#}
{#                                        </a><a href="/home/jm/index/id/15.html#15">#}
{#                                        <div class="small">芝士牛肉卷饼</div>#}
{#                                    </a><a href="/home/jm/index/id/15.html#15">#}
{#                                        <div class="small">芝士蟹柳三明治</div>#}
{#                                    </a>#}
{##}
{#                                    </li>#}
{#                                </div>#}
{#                                <div class="nav_b">#}
{#                                    <a href="/home/service/index/id/4.html">#}
{#                                        <li class="nav_li ">燃脂沙拉</li>#}
{#                                    </a>#}
{#                                    <li class="nav_s "></li>#}
{#                                    <li class="nav_c" style="right:0; transform: scale(1) translatex(-183px);">#}
{#                                        <a href="/home/jm/index/id/13.html#13">#}
{#                                            <div class="small">低脂鸡胸肉土豆沙拉</div>#}
{#                                        </a>#}
{#                                        <a href="/home/jm/index/id/14.html#14">#}
{#                                            <div class="small">鸡胸肉蔬菜沙拉</div>#}
{#                                        </a>#}
{#                                        <a href="/home/jm/index/id/15.html#15">#}
{#                                            <div class="small">尼斯沙拉</div>#}
{#                                        </a><a href="/home/jm/index/id/15.html#15">#}
{#                                        <div class="small">土豆泥沙拉</div>#}
{#                                        </a>#}
{#                                    </li>#}
{#                                </div>#}
{#                                <div class="nav_b">#}
{#                                    <a href="/home/news/index/id/3.html">#}
{#                                        <li class="nav_li ">汤&粥#}
{#                                        <li class="nav_s cur"></li>#}
{#                                        <li class="nav_c coin1" style="right:0; transform: scale(1) translatex(-183px);">#}
{#                                            <a href="/home/jm/index/id/13.html#13">#}
{#                                                <div class="small">低卡玉米浓汤</div>#}
{#                                            </a>#}
{#                                            <a href="/home/jm/index/id/13.html#13">#}
{#                                                <div class="small">醇香营养豆浆</div>#}
{#                                            </a>#}
{#                                            <a href="/home/jm/index/id/13.html#13">#}
{#                                                <div class="small">滋补红糖姜茶</div>#}
{#                                            </a>#}
{##}
{#                                        </li>#}
{#                                    </a>#}
{#                                </div>#}
{#                                <div class="nav_b">#}
{#                                    <a href="/home/contant/index/id/6.html">#}
{#                                        <li class="nav_li ">果茶</li>#}
{#                                    </a>#}
{#                                    <li class="nav_s "></li>#}
{#                                    <li class="nav_c" style="right:0; transform: scale(1) translatex(-183px);">#}
{#                                        <a href="/home/jm/index/id/13.html#13">#}
{#                                            <div class="small">芒果水果茶</div>#}
{#                                        </a>#}
{#                                        <a href="/home/jm/index/id/14.html#14">#}
{#                                            <div class="small">西柚水果茶</div>#}
{#                                        </a>#}
{#                                        <a href="/home/jm/index/id/15.html#15">#}
{#                                            <div class="small">橙子水果茶</div>#}
{#                                        </a>#}
{#                                    </li>#}
{#                                </div>#}
            </div>
        </div>
    </div>
</div>


<!-- 视频 -->
<script src="/static/Public/home/js/jwplayer/jwplayer.js"></script>
<script src="/static/Public/home/js/jwplayer/jwplayer.flash.swf"></script>
<script>jwplayer.key = "WA5gIK+CK0thGqMcsbTZfrOEhL1bvIjU5kxLvA==";</script>
<div class="view_video" lang="/static/public/home/img/movie.mp4" accesskey="" style="display: none;">
    <div id="myplayer1" class="myplayer">
        <video></video>
    </div>
</div>
<script>
    var obj1;
    obj1 = jwplayer('myplayer1');
    obj1.setup({
        file: $("#myplayer1").parent().attr('lang'),
        image: $("#myplayer1").parent().attr('accesskey'),
        width: '100%',
        autostart: false,
        height: '100%'
    });

</script>


<!--产品-->
<div class="product pro_padd">
    <div class="top">
        <li class="en wow fadeInUp">Recommended<br>Products</li>
        <li class="cn wow fadeInUp">产品推荐</li>
    </div>
    <div class="langx">
        <ul class="lang1"></ul>
        <ul class="lang2"></ul>
        <ul class="lang3"></ul>
    </div>
    <div class="product_bg">
        <div class="bubble bubble1"></div>
        <div class="bubble bubble2"></div>
        <div class="bubble bubble3"></div>
        <div class="bubble bubble4"></div>
        <div class="site">
            <div class="wrapper horizontal demo1">
                <ul class="container">
                    {% for foo in spu_img %}
                        {#                        {% for f in spu_img %}#}
                        <li class="cards-list">
                            <div class="img">
                                <img src="{{ foo.img_path }}" alt="{{ foo.img_name }}">
                            </div>
                            <div class="main-con">
                                <h4 class="name"></h4>
                                <h4 class="name"></h4>
                                <h4 class="name"></h4>
                                <h4 class="name"></h4>
                                <h4 class="name"></h4>
                                <h4 class="name">{{ foo.img_type_id.type_name }}</h4>
                                <div class="content">

                                    <p>
                                        {{ foo.img_type_id.type_details }}
                                    </p>

                                        <br/>
                                        <div class="name"><a target="_blank" href="?sku={{ foo.img_type_id.type_path }}">进入详情页</a></div>
                                    </div>
                            </div>
                        </li>
                    {% endfor %}


                </ul>
                <i class="btn-direct btn-left">
                </i>
                <i class="btn-direct btn-right">
                </i>

            </div>
        </div>

    </div>
</div>


<script src="/static/Public/home/js/empile.js"></script>
<script src="/static/Public/home/js/index.js"></script>


<!--foot-->
<div class="foot hidelangx">
    <div class="foot_bg">
        <li class="k wow fadeInUp topp">版权所有：七日轻食有限公司</li>
        <li class="k wow fadeInUp">备案号：<a href="https://beian.miit.gov.cn" target="_blank">蜀ICP备2021017364号</a>&nbsp;&nbsp;
            成都总部地址：成都市武侯区名都路166号嘉煜金融科技中心 &nbsp; 网站总访问量: 3610991
        </li>
        <li class="k wow fadeInUp"><span>七日轻食唯一官网：？？？？？？&nbsp;&nbsp;</span>
        </li>
    </div>
</div>
<!-- 侧边 -->
<div class="leftsead wow fadeInRight">


    <!--<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=307716043&site=qq&menu=yes" title="点击在线咨询"><ul class="qq"></ul></a>-->
    <ul class="top"></ul>
</div>
<style>
    #rkCustomeBtn {
        z-index: 999;
        top: 40%;
        height: 130px;
    }
</style>
<script>

    $(".leftsead .top").click(function () {
        var sc = $(window).scrollTop();
        $('body,html').animate({scrollTop: 0}, 500);
    });
    new WOW().init();
</script>


</body>
</html>