<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/order/css/base.css">
    <link rel="stylesheet" href="../static/order/css/index.css">
    <link rel="stylesheet" href="../static/order/lib/iconfont/iconfont.css">
</head>
<body>
    <div class="box">
        <div class="b1">
           <div class="left">
               <i class="iconfont icon-location"></i>
           </div>
           <div class="zhong">
               <div class="top">
                   <h3>林丽</h3>
                   <span>18500667882</span>
               </div>
               <div class="bottom">北京市  海淀区  中关村软件园   信息科技大厦1号楼410#
               </div>
           </div>
           <div class="right">
               <i class="iconfont icon-more"></i>
           </div>
        </div>
        <!-- 主体 -->
        <div class="goods">
            <div class="zuo">
                <img src="../static/order/uploads/pic.png" alt="">
            </div>
            <div class="zhong">
                <div class="top">
                    <h3>康尔贝 非接触式红外体温仪</h3>
                    <span>领券立减30元 婴儿级材质 测温…</span>
                </div>
                <div class="wzzhong">粉色   红外体温计</div>
                <div class="xia">
                    <em>¥<span>266</span></em>
                   <del> <i>¥<span>299</span></i></del>
                </div>
            </div>
            <div class="you">
                <i class="iconfont icon-x"></i>
                <span>1</span>
            </div>
        </div>
        <!-- 配送 -->
        <div class="ps">
            <div>
                <span>配送方式</span>
                <span>顺丰快递</span>
            </div>
            <div>
                <i>买家备注</i>
                <i>希望可以尽快发货，谢谢~</i>
            </div>
            <div>
                <em>支付方式</em>
                <em>支付宝<span class="iconfont icon-more"></span></em>
            </div>
        </div>

    </div>
    <div class="dibu">
        <div class="zuo">
            合计<span>￥266.00</span>
        </div>
        <div class="you">去支付</div>
    </div>
</body>
</html>