<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/order/css/base.css">
    <link rel="stylesheet" href="../static/order/css/index.css">
    <link rel="stylesheet" href="../static/order/lib/iconfont/iconfont.css">
</head>
<body>
<div class="box">
    <div class="b1">
        <div class="left">
            <i class="iconfont icon-location"></i>
        </div>
        <div class="zhong">
            <div class="top">
                <h3> {{ user_obj.username }} </h3>
                <span>{{ user_obj.stu_phonenumber }}</span>
            </div>
            <div class="bottom">{{ user_obj.stu_address }}
            </div>
        </div>
        <div class="right">
            <a href="">
                <i class="iconfont icon-more"></i>
            </a>
        </div>
    </div>
    <!-- 主体 -->
    {% for foo in ord %}
        <div class="goods">
            <div class="zuo">
                <img src="../static/order/uploads/pic.png" alt="">
            </div>
            <div class="zhong">
                <div class="top">
                    <h3>{{ foo.shop_spu_name }}</h3>
                    <span>{{ foo.shop_sku_name }}</span>
                </div>
                <div class="wzzhong"></div>
                <div class="xia">
                    <em>¥<span>{{ foo.shop_price }}</span></em>
                </div>
            </div>
            <div class="you">
                <i class="iconfont icon-x"></i>
                <span>{{ foo.shop_num }}</span>
            </div>
        </div>
    {% endfor %}
    <!-- 配送 -->
    <div class="ps">
        <div>
            <span>配送方式</span>
            <span>走两步</span>
        </div>
        <div>
        </div>
        <div>
            <em>支付方式</em>
            <em>支付宝<span class="iconfont icon-more"></span></em>
        </div>
    </div>

</div>
<div class="dibu">
    <div class="zuo">
        合计<span>￥{{ xj }}</span>
    </div>


    <div class="you"><a href="{% url 'del' %}"  name="pay" id="em" onclick="myFunction()">支付</a></div>

    <script>
        document.getElementById("em").addEventListener("invalid", myFunction);
        function myFunction() {
            alert("订单已生成");
        }
    </script>

</div>
</body>
</html>