{#{% extends 'base.html' %}#}
{% extends 'login.html' %}


{% block a1 %}
    class="active"
{% endblock %}
{% block from %}


{#    <form action="">#}
{#    <h1>asddddddddddddddddddd</h1>#}
{#    <input type="text">#}
{#    </form>#}
    <form action="{% url 'repassword' %}" class="sign-in-form" method="post">

        <h2 class="title">修改密码</h2>

        <div class="input-field">
            <i class="fas fa-user"></i>
            <input type="text" placeholder="用户名" name="user_name"/>
        </div>
{#        <div class="input-field">#}
{#            <i class="fas fa-envelope"></i>#}
{#            <input type="email" placeholder="邮箱" name="email" required/>#}
{#        </div>#}
        <div class="input-field">
            <i class="fas fa-lock"></i>
            <input type="password" placeholder="修改后的密码" name="pwd" id="pwd1" required="required" minlength="8"/>
        </div>
        <div class="input-field">
            <i class="fas fa-lock"></i>
            <input type="password" placeholder="确认密码" name="repwd" id="pwd2" onblur="check2pwd()" required="required"
                   minlength="8"/>
        </div>


        <script>
            function check2pwd() {
                if (pwd1.value != pwd2.value) {
                    alert("两次输入密码不一致！")
                    pwd1.value = "";
                    pwd2.value = "";
                }
            }</script>

        <div class="input-field">
            <i class="fas fa-lock"></i>
            <input type="stu" name="phonenumber" required="required" maxlength="11" id="phone"
                   pattern="^1(3\d|4[5-9]|5[0-35-9]|6[567]|7[0-8]|8\d|9[0-35-9])\d{8}$" placeholder="电话号码"
            />
        </div>

        <script>
            document.getElementById("phone").addEventListener("invalid", myFunction);

            function myFunction() {
                alert("请输入正确的11位手机号码");
            }
        </script>
<div style="color: red">
        {{ errmsg }}
</div>
        <input type="submit" class="btn" value="修 改"/>
        <p class="social-text">或者通过以下平台修改</p>
        <div class="social-media">

            <a href="#" class="social-icon">
                <i class="fab fa-weixin"></i>
            </a>
            <a href="#" class="social-icon">
                <i class="fab fa-qq"></i>
            </a>
            <a href="#" class="social-icon">
                <i class="fab fa-alipay"></i>
            </a>
            <a href="#" class="social-icon">
                <i class="fab fa-github"></i>
            </a>
        </div>
    </form>

{% endblock %}