
{% extends 'cart.html' %}
{% block sku %}
  {% for i in sku %}
                                            <table>
                                                <thead>
                                                <th width="16.666%;">名称</th>
                                                <th width="16.666%;">单价</th>
                                                <th width="16.666%;">状态</th>
                                                <th width="16.666%;">库存</th>
                                                {#                                                <th width="16.666%;">钠</th>#}
                                                <th width="12.5%;">
                                                    <button id="d1{{ forloop.counter }}">加入购物车</button>

                                                </th>

                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <script>
                                                        $('#d1' +{{ forloop.counter }}).click(
                                                            function () {
                                                                $.ajax({
                                                                    url: {% url 'addpage' %}, //请求的url地址,
                                                                    type: "post", //请求的方式
                                                                    async: false, // 同步
                                                                    data: { //发送给后端的数据
                                                                        {#obj : {{ i }};#}
                                                                        obj_id: {{ i.goods_id }}, //获得name为i1的标签值
                                                                        num:{{ num }}
                                                                        {#i2: {{ }}, //获得name为i2的标签值#}
                                                                    },
                                                                    {#接受后端数据的函数#}
                                                                    success: function (data) {
                                                                        console.log(data.obj_num);

                                                                        {#$("#number_{{ forloop.counter }}").val(data.obj_num)#}
                                                                        {#$("#s_c_p").text(data.sum_cart_price + "元")#}
                                                                        {#$("#d_p").text(data.discout_price + "元")#}
                                                                        $("#abcde").text(data.num)

                                                                },
                                                                })
                                                            })

                                                    </script>

                                                    <td>
                                                        {#                                                        <span>能量</span>#}
                                                        <strong style="font-size: 20px;">{{ i.goods_SkuType_id.SkuType_name }}</strong>
                                                    </td>
                                                    {#                                                    {% for i in sku %}#}
                                                    <td>
                                                        {#                                                        <span>蛋白质</span>#}
                                                        <strong>{{ i.goods_price }}</strong>
                                                    </td>
                                                    {#                                                    {% endfor %}#}
                                                    <td>
                                                        {#                                                        <span>脂肪</span>/#}
                                                        <strong>{{ i.goods_statue }}</strong>
                                                    </td>
                                                    <td>
                                                        {#                                                        <span>碳水化合物</span>#}
                                                        <strong>{{ i.goods_rest }}</strong>
                                                    </td>
                                                    <td>
                                                        {#                                                        <span>钠</span>#}
{#                                                        <strong>#}
                                                            <button class="">
                                                                <i class="iconfont icon-calculator"></i><span></span>
                                                            </button>
{#                                                        </strong>#}
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        {% endfor %}
{% endblock %}



