@keyframes pace-spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@keyframes zoomOut {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
}
@keyframes zoomInOut {
  from {
    transform: scale(1.15);
  }
  50% {
    transform: none;
  }
  100% {
    transform: scale(1.15);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate(0, -10px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate(0, 20px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeOutUp {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate(0, -20px);
  }
}
@keyframes fadeInModal {
  from {
    opacity: 0;
    transform: scale(0.95) translateY(5px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes tada {
  0% {
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes wobble {
  0% {
    transform: none;
  }

  15% {
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }

  30% {
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }

  45% {
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }

  60% {
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }

  75% {
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }

  100% {
    transform: none;
  }
}
@keyframes scaleUp {
  0% {
    transform: scale(0.8) translateY(100vh);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}
.scaleUp {
  animation: scaleUp 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards
}
@keyframes scaleDown {
  0% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
  100% {
    transform: scale(0.8) translateY(100vh);
    opacity: 0;
  }
}
.scaleDown {
  animation: scaleDown 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards
}



.zoomIn {
  animation: zoomIn 0.2s ease both !important;
}
.zoomOut {
  animation: zoomOut 0.2s ease both !important;
}
.fadeIn {
  animation: fadeIn 0.2s ease both !important;
}
.fadeOut {
  animation: fadeOut 0.2s ease both !important;
}
.fadeInUp {
  animation: fadeInUp 0.2s ease both !important;
}
.fadeInDown {
  animation: fadeInDown 0.2s ease both !important;
}
.fadeInModal {
  animation: fadeInModal 0.2s ease both !important;
}
.fadeOutUp {
  animation: fadeOutUp 0.2s ease both !important;
}
